@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    display: flex; /*Tranforma o body em flex container*/                        
    justify-content: center; /*Alinha orizontamente*/
    align-items: center; /*Alinha verticalmente*/
    height: 100vh; /*Define o tamanho do body como 100%, permitindo a centralizacao vertical. Sem ele, o body teria altura do conteudo sem ele.*/
    margin: 0; /*Os navegadores geralmente colocam margens entre o fim da pagina o body. Este comando garante que nao haja margem, qualificando a centralizacao*/
    background-color: #331F19; /* Fundo neutro */
}
.container {
    text-align: center;
    background-color: #CBBBA7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    border: 2px solid #8B7D70;
}
h1 {
    color: #331F19;
}
p {
    color: #331F19;
    font-size: 1.1em;
}
button {
    background-color: #60041A;
    color: #F4F0EA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /*Significa 100% do tamanho que a fonte ja tem. 1.2em, por exemplo, significaria 120%*/
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
button:hover {
    background-color: #A34743;
}

.saudacao {
    font-size: 1.5em;
    color: #60041A;
    margin-top: 10px;
}